<link rel="stylesheet" href="/css/style.css">
<div class="main">
        <div class="bannerContent">
            <div id="callToAction">
                <h1>Organize suas ideias</h1>
                <h2>Tudo em um só lugar</h2>
            </div>
            <img width="100%" height="100%" src="/images/BannerImg.png" alt="BannerImg">
            <!-- Used Image: https://www.pexels.com/pt-br/foto/livro-de-cor-cinza-padrao-perto-de-borracha-verde-159045/ -->
        </div>

        <div class="loginArea">
            <div class="content">
                <h1 id="h1Login">Login</h1>
                <div class="void">
                    <div class="loginInputs">
                        <form action="#" method="POST">
                            <p id="emailLabel">E-mail:</p>
                            <input id="emailInput" type="email" name="email" placeholder="Digite seu E-mail" required>
                            <p id="passwordLabel">Senha:</p>
                            <input id="passwordInput" type="password" name="password" placeholder="Digite sua Senha" required>
                            <button id="btnLogar" type="submit">Entrar</button>
                        </form>
                    </div>
                </div>
                <div class="links">
                    <a id="signup" href="/cadastro">Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>
    

