<div class="efect">
    <div class="updateForm">
        <div class="closeWindow">
            <img src="/images/closeWindow.png" onclick="closeWindow()" alt="Botão de Fechar">
            <!-- Used Image: https://br.freepik.com/icone/fechar_6276642#fromView=search&term=close+&page=1&position=63 -->
        </div>

        <div class="addForm">
            <div class="formAddInputs">    
                <form action="/adicionar" method="post">
                    <h1>Adicionar</h1>
                    <p>Dia da Semana:</p>
                    <select name="daySelection" id="daySelectionAdd" required>
                        <option value="disabled" disabled selected>Selecione um Dia</option>
                        <option value="Segunda-Feira">Segunda-Feira</option>
                        <option value="Terça-Feira">Terça-Feira</option>
                        <option value="Quarta-Feira">Quarta-Feira</option>
                        <option value="Quinta-Feira">Quinta-Feira</option>
                        <option value="Sexta-Feira">Sexta-Feira</option>
                        <option value="Sábado">Sábado</option>
                        <option value="Domingo">Domingo</option>
                    </select>
                    <p>Início:</p>
                    <input name="start" id="start" type="time" required>
                    <p>Término:</p>
                    <input name="end" id="end" type="time" required>
                    <p>Atividade:</p>
                    <input name="activity" id="activity" placeholder="Digite um Rótulo para a Atividade" type="text" maxlength="11" required>
                    <p>Descrição:</p>
                    <textarea placeholder="Digite uma Breve Descrição da Atividade" name="desc" id="desc" cols="40" rows="10" required></textarea>
                    <br>
                    <button id="addFormBtn" class="animation-item" type="submit">Adicionar</button>
                </form>
            </div>
        </div>
  
        <div class="descForm">
            <div class="formAddInputs">    
                <h1>Descrição</h1>
                <p>Dia da Semana:</p>
                <select disabled name="daySelection" id="daySelectionDesc">
                    <option value="disabled" disabled selected>Selecione um Dia</option>
                    <option value="Segunda-Feira">Segunda-Feira</option>
                    <option value="Terça-Feira">Terça-Feira</option>
                    <option value="Quarta-Feira">Quarta-Feira</option>
                    <option value="Quinta-Feira">Quinta-Feira</option>
                    <option value="Sexta-Feira">Sexta-Feira</option>
                    <option value="Sábado">Sábado</option>
                    <option value="Domingo">Domingo</option>
                </select>
                <p>Início:</p>
                <input name="start" id="startDesc" type="time" disabled>
                <p>Término:</p>
                <input name="end" id="endDesc" type="time" disabled>
                <p>Atividade:</p>
                <input name="activity" id="activityDesc" placeholder="Digite um Rótulo para a Atividade" type="text" maxlength="11" disabled>
                <p>Descrição:</p>
                <textarea placeholder="Digite uma Breve Descrição da Atividade" name="desc" id="descDesc" cols="40" rows="10" disabled></textarea>
                <br>    
                <input id="remFormBtn" type="button" class="animation-item" value="Remover" onclick="removeElement()">
            </div>             
        </div>
    </div>
</div>