<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organiza.io</title>    
    <link rel="stylesheet" href="/css/style-general.css">
    <script src="/js/main.js"></script>
</head>
<body>
     {{{body}}}
     <div class="status">
        {{#if error}}
            <div class="statusMsg danger">
                <div class="closeMsg">
                    <img src="/images/closeWindow2.png" alt="Botão de Fechar" onclick="closeMsg()">
                    <!-- Used Image: https://br.freepik.com/icone/perto_2976286#fromView=search&term=close+&page=1&position=0 -->
                </div>
                <div class="contentMsg">
                    <p class="msgDialog danger">{{error}}</p>
                </div>
            </div>
        {{else}}
        {{/if}}
        {{>_msg}}
    </div>  
</body>
</html>
