<link rel="stylesheet" href="/css/style-main.css">
<div class="main">
  {{>navbar}}  
  <div class="content align-c-vh">      
    {{>appointmentsView}}   
  </div>

  <div class="addDiv">
    <input id="add" class="animation-item" type="button" value="Adicionar" onclick="add()">
  </div>

  <footer class="align-c-vh">
    <a class="animation-item" href="https://github.com/jonathanoliveirarocha" target="_blank">&copy Jonathan de Oliveira Rocha</a>
  </footer>  
</div>
{{>formsView}}

  