/* General */
*{
    padding: 0px;
    margin: 0px;
}

/* Scrollbar */
::-webkit-scrollbar{
    background-color: inherit;
    width: 4px;
    border: 1px solid back;
    height: 4px;
}

::-webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 20px; 
}

/* Page content */
body, html{
    height: 100%;
    background-color: initial;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease-in-out;
}

body.dark-mode{
    background-color: #343541;
}

/* classes used */
.to-right{
    float: right !important;
}

.to-left{
    float: left !important;
}

.margin-small{
    margin: 6px !important;
}

.padding-large{
    padding: 4px 7px !important;
}

.align-c-vh{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.animation-item:hover{
    transform: scale(1.02) !important;
}

.animation-item:active{
    transform: scale(0.99) !important;
    box-shadow: none !important;
}

/* General styles */
h1{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #c5c5d2;
}

button, select, #start, #end, #remFormBtn, #add, .appointmentItem:hover{
    cursor:pointer;
}

/* Main div */
.main{
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Header */
header{
    top:0;
    display: block;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: #202123;
}

.nav-items {
    padding: 8px 16px;
    width: auto;
    border: none;
}

/* Page logo */
#logo{
    color: rgb(241, 241, 241);
}

#logo span{
    color: #cf6f08;
}

/* Button dark-mode */
.dark-mode-div{
    margin-top: 4px;
    margin-right: 10px;
}

.darkBackgroundBtn {
    display: block;
    width: 45px;
    height: 22.5px;
    background-image: linear-gradient(to right,#a7a7a7, #efefef);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.slider{
    width: 19.5px;
    height: 19.5px;
    background-color: #3c3c3c;
    border-radius: 50%;
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    transition: transform 0.2s ease-in-out;
}

.moon-icon {
    width: 17px;
    margin-left: 6px;
    position: absolute;
    top: 2.5px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.sun-icon{
    margin-left: 22px;
    width: 17px;
    position: absolute;
    top: 3px;
    transition: opacity 0.2s ease-in-out;
}

/* Button dark-mode animation */
#dark-mode-btn:checked + .darkBackgroundBtn .slider {
    transform: translateX(22.5px);
}

#dark-mode-btn:checked + .darkBackgroundBtn .moon-icon {
    opacity: 1;
}

#dark-mode-btn:checked + .darkBackgroundBtn .sun-icon {
    opacity: 0;
}

#dark-mode-btn:checked + .darkBackgroundBtn {
    background-image: linear-gradient(to right,#4a4a4a, #efefef);
}

/* Person loged in */
#person{
    color: #dedada;
    font-size: small;
    user-select:none;
}

#person:hover{
    color:#e38759;
}

/* Log out Button */
.logout{
    color: #f7ebe2;
    width: 80px;
    font-size: 14px;
    border-radius: 7px;
    border: none;
    background-color: #e16c32;
    margin-right: 40px;
}

.logout:hover{  
    background-color: #d97848;
}

/* Page Content */
.content{
    width: 100%;
    height: 79%;
    text-align: center;
}

/* Timeline */
.days{
    margin-top: 5%;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 10px 0px #bebcbc;
    transition: box-shadow 0.3s ease-in-out;
}

.days.dark-mode{
    box-shadow: 0px 0px 5px 0px #303038;
}

/* Days title div */
.title{
    background-color: #cccccc;
    padding: 10px;
    border: 1px solid;
    border-right: none;
    border-top: none;
    transition: background-color 0.3s ease-in-out;
}

.title.dark-mode{
    background-color: #414147;
}

.title h1{
    color: #000000;
    transition: color 0.3s ease-in-out;
}

.title h1.dark-mode{
    color: #c5c5d2;
 }

/* Special styles */
.monday .title{
    border-left-style: none;
    border-top-left-radius: 10px;
}

.sunday .title{
    border-top-right-radius: 10px;
}

.sunday .appointments{
    border-bottom-right-radius: 10px;
}

.monday .appointments{
    border-left-style: none;
    border-bottom-left-radius: 10px;
}

/* Appointments */
.appointments{
    background-color: #fafffe;
    height: 500px;
    border: 1px solid;
    border-right: none;
    border-top: none;
    border-bottom-style: none;
    width: 170px;
    padding: 2px;
    overflow-y: hidden;
    transition: background-color 0.3s ease-in-out;
}

.appointments.dark-mode {
    background-color: #40414f;
}

.appointments:hover{
    overflow-y: auto;
}

/* Appointment items */
.appointmentItem{
    height: 25px;
    border-radius: 4.5px;
    box-shadow: 0px 0px 8px -3px rgb(0, 0, 0);
    margin-bottom: 4px;
    user-select:none;
}

.appointmentDesc{
    text-align: center;
    justify-content: center;
    width: 60%;
}

.appointmentItem .hour p{
    font-size: 11px;
}

.hour{
    width: 20%;
}

.hourEnd{
    font-size: 11px;
    width: 20%;
}

.appointmentItem:hover{
    box-shadow: 0px 0px 6px 0px black;
}

/* Appointment item colors */
.monday .appointmentItem{
    background-color: #b06f6fb1;
}

.tuesday .appointmentItem{
    background-color: #b0976fd2;
}

.wednesday .appointmentItem{
    background-color: #acac61cf;
}

.thursday .appointmentItem{
    background-color: #7eaf67d3;
}

.friday .appointmentItem{
    background-color: #679eafca;
}

.saturday .appointmentItem{
    background-color: #8e97d5c7;
}

.sunday .appointmentItem{
    background-color: rgba(172, 114, 227, 0.805);
}

/* Add appointment button */
.addDiv{
    height: 13%;
    text-align: center;
}

#add{
    padding: 1px;
    width: 80px;
    border-radius: 7px;
    box-shadow: 0px 5px 10px -4px #484847;
    border-style: none;
    color: rgb(255, 244, 244);
    background-color: hsl(146, 50%, 36%); 
}

#add:hover{
    background-color: hsl(146, 46%, 39%);
}

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3%; 
    background-color: #202123;
}

/* Form add/desc */
.efect{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    justify-content: center;
}

/* Close window button */
.closeWindow{
    width: 100%;
    text-align: right;
    border-radius: 8px;
}

.closeWindow img{
    width: 24px;
    height: 24px;
    right: 0%;
    margin: 1.5px;
    cursor: pointer;
}

/* Forms style */
.updateForm{
    color: #89898d;
    margin-top: 7%;
    border-radius: 10px;
    height: 650px;
    width: 800px; 
    background-color: #e2e2e3;
    box-shadow: 0px 0px 20px -10px rgb(16, 15, 15);
}

.updateForm.dark-mode{
    color: #87878a;
    background-color: #53535d;
    box-shadow: 0px 0px 20px -10px rgb(16, 15, 15);
}

.descForm, .addForm{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.formAddInputs{
    width: 40%;
    text-align: left;
}

/* Form content styles */
.updateForm h1{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #c06234;
}

.updateForm p{
    margin-top: 15px;
    margin-bottom: 5px;
}

input, select{
    all:unset;
    width: 97%;
    height: 30px;
    font-size: small;
    padding-left: 3%;
    border-radius: 7px;
    border: #fffafa;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcfcfd;
    box-shadow: 0px 0px 20px 1px rgba(128, 128, 128, 0.818);
}

select.dark-mode{
    background-color: #d2d2d7;
    box-shadow: 0px 0px 10px 0px #32343d;
}

input.dark-mode{
    background-color: #d2d2d7;
    box-shadow: 0px 0px 10px 0px #32343d;
}

select, input[type="time"]{
    line-height: 30px;
}

input[type="button"]{
    text-align: center;
}

textarea{
    all:unset;
    font-family: inherit;
    font-size: small;
    resize: none;
    width: 96%;
    height: 70px;
    padding: 3%;
    padding: 2%;
    border-radius: 7px;
    border-style: none;
    background-color: #f3f3f5;
    box-shadow: 0px 0px 20px 1px rgba(128, 128, 128, 0.818);
}

textarea.dark-mode{
    background-color: #d2d2d7;
    box-shadow: 0px 0px 10px 0px #32343d;
}

#addFormBtn{
    height: 30px;
    border-radius: 7px;
    border: none;
    background-color: #c06234;
    margin-top: 40px;
    width: 100%; 
    color: #f7ebe2;
    box-shadow: 0px 0px 20px 1px rgba(128, 128, 128, 0.818);
}

#addFormBtn.dark-mode{
    box-shadow: 0px 0px 10px 0px #32343d;
}

#addFormBtn:hover{
    background-color: #c1724a;
    box-shadow: 0px 0px 15px -5px black;
}

#remFormBtn{
    margin-top: 40px;
    color: rgb(229, 227, 227);
    background-color: #a64e4e;
}

#remFormBtn:hover{
    background-color: #af4f4f;
}

/* Mobile version */
@media (max-width: 1232px) {
    #logo{
        display: none;
    }

    .content{
        height: fit-content;
    }

    .days{
        box-shadow: none;
        width: 80%;
        max-width: 331px;
        display: block;
        margin-bottom: 50px;
    }

    .days.dark-mode{
        box-shadow: none;
    }

    .title{
        border: none; 
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        box-shadow: 0px 0px 10px 0px #bebcbc;
    }

    .title.dark-mode{
        box-shadow: 0px 0px 5px 0px #303038;
    }

    .appointments{
        width: auto;
        height: 200px;
        border: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 10px 0px #bebcbc;
    }
        
    .appointments.dark-mode{
        box-shadow: 0px 0px 5px 0px #303038;
    }

    .addDiv{
        margin-top: -35px;
        margin-bottom: 30px;
        height: fit-content;
    }

    footer{
        position:relative;
    }

    .efect{
        align-items: center;
        text-align: center;
    }

    .updateForm{
        margin-top: 0;
        height: fit-content;
        padding-bottom: 40px;
        width: 95%; 
        min-width: 343px;
        max-width: 800px;
    }

    .formAddInputs{
        min-width: 314px;
    }

    select, input[type="time"]{
        display: flex;
        align-items: center;
        justify-content: center;
    } 
}
