*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #87878a;
}

body, html{
    height: 100%;
    background-color: #fffafa;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
}

.bannerContent{
    display: inline-block;
    position: relative;
    width: 60%;
    height: 100%;
}

#callToAction{
    width: 100%;
    position: absolute;
    top: 45%;
    left: 10%;
    margin-top: -25px;
    font-size: 30px;
    color: rgb(252, 250, 250);
}
#callToAction h1{
    width: 53%;
    color: rgb(252, 250, 250);
}

#callToAction h2{
    color:#d75413;
    width: 40%;
}

.loginArea{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.content{
    width: 500px;
 
}

.void{ 
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

input{
   width: 97%;
   height: 30px;
   padding-left: 3%;
   border-radius: 7px;
   border: #fffafa;
   box-shadow: 0px 0px 20px 1px rgba(128, 128, 128, 0.818);
}

.loginInputs{
    text-align: left;
}

button:hover{
    cursor:pointer;
}

h1{
    color: #d75413;
}

p{
    margin-top: 30px;
    margin-bottom: 10px;
}

button{
    height: 30px;
    border-radius: 7px;
    border: none;
    background-color: #d75413;
    margin-top: 40px;
    width: 100%; 
    color: #f7ebe2;
    box-shadow: 0px 0px 10px -4px black;
}

button:hover{
    background-color: #e38759;
    transform: scale(1.01);
    box-shadow: 0px 0px 15px -5px black;
}

button:active{
    background-color: #e38759;
    transform: scale(0.99);
    box-shadow: 0px 0px 0px 0px black;
}


.links{
    margin-top: 40px;
}

a{
    text-decoration: none;
    color: #d75413;
    font-size: 14px;
}

a:hover{
    color: #e38759;
}

::-webkit-scrollbar{
    background-color: rgb(184, 187, 189);
    width: 7px;
    border: 1px solid back;
    color: #1a1a1a;
}

::-webkit-scrollbar-thumb{
    background-color: #5a5959;
    border-radius: 20px;
    
}

@media only screen and (max-device-width: 1163px) {
    .bannerContent{
        display: none;
    };
    .loginArea{
        width: 100%;
       
    };
}